<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document | ${document.title}</title>
</head>
<body>
    <h2>Detail of Document</h2>
    <p>Id: ${document.id}</p>
    <p>Title: ${document.title}</p>
    <p>Description: ${document.description}</p>
</body>
</html>